<!doctype html>
<html lang="en-us">
<head>
<!--Page Title-->
<title>Hostel Guide</title>
<!--Meta Tags-->
<meta charset="UTF-8">
<meta name="author" content="">
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<!-- Set Viewport-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
<link rel="stylesheet" href="css/bootstrap-theme.min.css" type="text/css"/>
<!--<link rel="stylesheet" href="css/font-awesome.min.css">-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/flexslider.css">
<link rel="stylesheet" href="css/select-theme-default.css">
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/owl.theme.css">
<link rel="stylesheet" href="css/style.css" type="text/css"/>
<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<style> [ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }</style>
</head>
<body id='top' class="property-details-page" ng-app="app" ng-controller="DetailsController">
<header>
<div id="top-strip">
	<div class="container" ng-cloak>
		<div id="login-box" ng-hide="log" class='pull-right'>
			<a href="login.html" class='fa fa-user'><span>Login</span></a>
			<a href="register.html" class='fa fa-pencil'><span>Register</span></a>
		</div>

		<div id="login-box" ng-hide="loggedIn" class='pull-right'>
			<a href="login.html" class='fa fa-user'><span>{{username}}</span></a>
			<a href="#" ng-click="logout()" class='fa fa-power-off'><span>Logout</span></a>
		</div>

	</div>
</div>
</header>
<!-- /Header -->
<div class="slider-section">
	<div id="premium-bar">
		<div class="container">
			<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="logo"></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="index.html">Home</a></li>
							<li><a href="property-listing.html">Listings</a></li>
							<li><a href="agents.html">agents</a></li>
							<li><a href="contact.html">contact</a></li>
						</ul>
					</div>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
			</nav>
		</div>
	</div>
	<!-- head-Section -->
	<div class="page-title-section">
		<div class="container">
			<div class="pull-left page-title">
				<a href="#">
				<h2>property listings</h2>
				</a>
			</div>
			<div class="pull-right breadcrumb">
				<a href="#">home</a><span class="fa fa-arrow-circle-right sep"></span><a href="#">property listings</a>
			</div>
		</div>
	</div>
</div>
<!-- Search-Section -->
<div class="search-section">
	<div class="container">
		<div class="row">
			<form>
				<div class="col-lg-3 select-wrapper select-small" id='select-rent'>
					<p>
						Search
					</p>
					<form class="contact-form">
						<div>
							<input type="text" class="form-control" ng-model="mHostel" style="width: 250px" placeholder="Search Hostel Here">
						</div>
					</form>

				</div>
				<div class="col-lg-2 select-wrapper select-big" id='select-property'>
					<p>
						Region
					</p>
					<select ng-model="mRegion" class='elselect'>
						<option value="any">any</option>
						<option value="Greater Accra Region">Greater Accra Region</option>
						<option value="Ashanti Region">Ashanti Region</option>
						<option value="Eastern Region">Eastern Region</option>
						<option value="Central Region">Central Region</option>
						<option value="Volta Region">Volta Region</option>
						<option value="Western Region">Western Region</option>
						<option value="Brong Ahafo Region">Brong Ahafo Region</option>
						<option value="Northern Region">Northern Region</option>
						<option value="Upper East Region">Upper East Region</option>
						<option value="Upper West Region">Upper West Region</option>
					</select>
				</div>
				<div class="col-lg-2 select-wrapper select-big">
					<p>
						Campus
					</p>
					<select ng-model="mCampus" class='elselect'>
						<option value="any">any</option>
						<option value="Ghana Telecom University">Ghana Telecom University</option>
						<option value="University of Ghana legon">University of Ghana Legon</option>
						<option value="Accra Polytechnic">Accra Polytechnic</option>
						<option value="Central University">Central University</option>
						<option value="KNUST">KNUST</option>
						<option value="University of Cape Coast">University of Cape Coast</option>
					</select>
				</div>
				<div class="col-lg-2 select-wrapper select-small">
					<p>
						Area
					</p>
					<select ng-model="mArea" class='elselect'>
						<option value="any">any</option>
						<!--<option value="potato-chips">Potato chips</option>-->
						<!--<option value="chips-and-salsa">Chips and salsa</option>-->
						<!--<option value="cookies">Cookies</option>-->
						<!--<option value="doritos">Doritos</option>-->
						<!--<option value="pringles">Pringles</option>-->
						<!--<option value="hot-pockets">Hot pockets</option>-->
					</select>
				</div>
				<input type="submit" ng-click="searching(mHostel,mRegion,mCampus,mArea)" value="search" class='yellow-btn'>
			</form>
		</div>

	</div>
</div>
<div ng-hide="searchHide">
	<div class="recent-listings">
		<div class="container">
			<div class="title-box">
				<h3> Search Results</h3>
				<div class="bordered">
				</div>
			</div>
			<div class="row listings-items-wrapper">

				<div class="col-md-4 listing-single-item" ng-repeat="mSearchList in mSearch track by $index">
					<div class="item-inner">
						<div class="image-wrapper">
							<img ng-src="http://hostelguide.icedandfreshfoods.com/{{mSearchList.picture}}" class="tumb" alt="gallery">
							<a href="#" class='fa fa-home property-type-icon'></a>
						</div>
						<div class="desc-box">
							<h4><a href="#">{{mSearchList.hostel_name}}</a></h4>
							<ul class="slide-item-features item-features">
								<li><span class="fa fa-map-marker"></span>{{mSearchList.campus}}</li>
								<li><span class="fa fa-male"></span>{{mSearchList.facility}} Available</li>
								<li><span class="fa fa-hotel"></span>{{mSearchList.rooms}} in a Room for {{mSearchList.price}} GHC</li>
							</ul>
							<div class="buttons-wrapper">
								<a href="property-details.html?id={{mSearchList.id}}" class="gray-btn"><span class="fa fa-file-text-o"></span>Details</a>
							</div>
							<div class="clearfix">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- content-Section -->
<div class="content-section" ng-controller="DetailsController">
	<div class="container">
		<div class="row">
			<div class="col-md-8 page-content">
				<div class="inner-wrapper">
					<div class="property-images-slider">
						<div id="details-slider" class="flexslider">
							<a href="#" class='fa fa-home property-type-icon'></a>
							<ul class="slides">
								<li>
								<div class="image-wrapper">
									<img ng-src="http://hostelguide.icedandfreshfoods.com/{{pic1}}" alt="gallery">
								</div>
								</li>
								<li>
								<div class="image-wrapper">
									<img ng-src="http://hostelguide.icedandfreshfoods.com/{{pic2}}" alt="gallery">
								</div>
								</li>
								<li>
								<div class="image-wrapper">
									<img ng-src="http://hostelguide.icedandfreshfoods.com/{{pic3}}" alt="gallery">
								</div>
								</li>
								<li>
								<div class="image-wrapper">
									<img ng-src="http://hostelguide.icedandfreshfoods.com/{{pic4}}" alt="gallery">
								</div>
								</li>
							</ul>
						</div>
						<div id="details-carousel" class="flexslider">

							<ul class="slides">

								<li><img class="smallImg" alt="gallery" ng-src="http://hostelguide.icedandfreshfoods.com/{{pic1}}"/></li>

								<li><img class="smallImg" alt="gallery" ng-src="http://hostelguide.icedandfreshfoods.com/{{pic2}}"/></li>

								<li><img class="smallImg" alt="gallery" ng-src="http://hostelguide.icedandfreshfoods.com/{{pic3}}"/></li>

								<li><img class="smallImg" alt="gallery" ng-src="http://hostelguide.icedandfreshfoods.com/{{pic4}}"/></li>

								<!--<li>-->
								<!--<img  class="smallImg" src="lisitngs/crianlarich-family-room.jpg" alt="gallery"/>-->
								<!--</li>-->
								<!--<li>-->
								<!--<img class="smallImg" src="lisitngs/1415784948275_wps_9_UHostel_dorm_jpg.jpg"/>-->
								<!--</li>-->
								<!--<li>-->
								<!--<img  class="smallImg" src="lisitngs/41.jpg"/>-->
								<!--</li>-->

							</ul>
						</div>
					</div>
					<div class="property-desc" ng-cloak>
						<h3>{{hostelName}}</h3>
						<ul class="slide-item-features item-features">
							<li><span class="fa fa-map-marker"></span>{{campus}}</li>

							<li ng-cloak ng-repeat="mRooms in rooms track by $index"><a href="#" class="yellow-btn">GHC {{mRooms.price}} for {{mRooms.room}} in a Room</a></li>
						</ul>
						<p class="first-paragraph">
							{{description}}
						</p>
						<div class="additional-features">
						<h3>Additional Services</h3>
						<ul class="features">
							<li class="single-feature" ng-clock ng-repeat="mServices in service track by $index"><a href="#"><i class="fa fa-check-circle"></i>{{mServices.service}}</a></li>
						</ul>
					</div>
						<div class="additional-features">
							<h3>Additional Facilities</h3>
							<ul class="features">
								<li class="single-feature" ng-repeat="mFacilities in facilities track by $index"><a href="#"><i class="fa fa-check-circle"></i>{{mFacilities.facility}}</a></li>
							</ul>
						</div>
						<div class="property-location">
							<h3>Hostel Location</h3>
							<div id="property-location-map">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 blog-sidebar">
				<div class="sidebar-widget author-profile">
					<h4 class="widget-title">Listed by</h4>
					<div class="image-box">
						<img src="img/agents/manager_2.png" alt="agent">
					</div>
					<div class="desc-box">
						<h4>{{manager}}</h4>
						<p class="person-number">
							<i class="fa fa-phone"></i> {{managerPhone}}
						</p>
						<p class="person-email">
							<i class="fa fa-envelope"></i> {{managerEmail}}
						</p>
						<a href="#" class='gray-btn'>Reserve Room</a>
					</div>
				</div>
				<!--<div class="sidebar-widget similar-listings-widget">-->
					<!--<h4 class="widget-title">similar listings</h4>-->
					<!--<ul class="similar-listings">-->
						<!--<li class="tab-content-item">-->
						<!--<div class="pull-left thumb">-->
							<!--<img src="img/blog/25_blog-thumb_1.png" alt="thumbnail">-->
						<!--</div>-->
						<!--<h5><a href="#">Envato’s Most Wanted: Courses & Learning Themes - $7,000</a></h5>-->
						<!--</li>-->
						<!--<li class="tab-content-item">-->
						<!--<div class="pull-left thumb">-->
							<!--<img src="img/blog/26_blog-thumb_2.png" alt="thumbnail">-->
						<!--</div>-->
						<!--<h5><a href="#">Envato’s Most Wanted: Courses & Learning Themes - $7,000</a></h5>-->
						<!--</li>-->
						<!--<li class="tab-content-item">-->
						<!--<div class="pull-left thumb">-->
							<!--<img src="img/blog/27_blog-thumb_3.png" alt="thumbnail">-->
						<!--</div>-->
						<!--<h5><a href="#">Envato’s Most Wanted: Courses & Learning Themes - $7,000</a></h5>-->
						<!--</li>-->
					<!--</ul>-->
				<!--</div>-->
			</div>
		</div>
	</div>
</div>
<!-- footer-section -->
<footer>
	<div class="container">
		<div class="col-md-3 footer-about">
			<a class="logo" href="#"><img src="img/logo.png" alt="logo"></a>
		</div>
		<div class="col-md-3 footer-contact-info">
			<h3 class='footer-title'>contact info</h3>
			<p class="website-number">
				<i class="fa fa-phone"></i> 0272589632
			</p>
			<p class="website-email">
				<i class="fa fa-envelope"></i> info@hostelguide.com
			</p>
		</div>
	</div>
</footer>
<div class="bottom-strip">
	<div class="container">
		<div class="col-md-4 bottom-strip-middle">
			<a href="#top" class='fa fa-arrow-circle-up' id='backtop-btn'></a>
		</div>
		<div class="col-md-4">

		</div>
	</div>
</div>
<!-- Javascript -->
<script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="js/select.min.js"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript">

	</script>
</body>
</html>