<div class="span9" ng-controller="UploadController">
    <div class="content">
        <div class="module">
            <div class="module-head">

            </div>
            <div class="module-body">
                        <!-- Custom Tabs -->
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_1" data-toggle="tab">New Listing</a></li>
                                <li><a href="#tab_2" data-toggle="tab">Manage Listings</a></li>
                                <li><a href="#comp" data-toggle="tab">Reservations</a> </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <div class="row" ng-cloak>
                                        <div class="span6">
                                            <div ng-cloak ng-hide="cCreated" class="alert alert-success">
                                                <button class="close" data-dismiss="alert" type="button">&times;</button>New Listing Saved
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="row">-->
                                        <!--<div class="span6">-->
                                            <!--<div ng-cloak ng-hide="sErr" class="alert alert-danger">-->
                                                <!--<button class="close" data-dismiss="alert" type="button">&times;</button>Sorry Phone number must contain only numbers-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="module">
                                        <div class="module-head">
                                            <h3>Add New Hostel</h3>
                                        </div><!-- /.box-header -->
                                        <!-- form start -->

                                        <div class="row">
                                            <form class="form-horizontal row-fluid">
                                                <div class="control-group ">
                                                    <label class="control-label">Hostel Name</label>
                                                    <div class="controls">
                                                        <input type="text" ng-model="hostelname" placeholder="Hostel Name">
                                                    </div>
                                                </div>
                                                <div class="control-group ">
                                                    <label class="control-label">Region</label>
                                                    <div class="controls">
                                                        <select ng-model="region" >
                                                            <option value="Greater Accra Region">Greater Accra Region</option>
                                                            <option value="Ashanti Region">Ashanti Region</option>
                                                            <option value="Eastern Region">Eastern Region</option>
                                                            <option value="Central Region">Central Region</option>
                                                            <option value="Volta Region">Volta Region</option>
                                                            <option value="Western Region">Western Region</option>
                                                            <option value="Brong Ahafo Region">Brong Ahafo Region</option>
                                                            <option value="Northern Region">Northern Region</option>
                                                            <option value="Upper East Region">Upper East Region</option>
                                                            <option value="Upper West Region">Upper West Region</option>
                                                        </select>
                                                    </div>

                                                </div>

                                                <div class="control-group ">
                                                    <label class="control-label">Campus</label>
                                                    <div class="controls">
                                                        <select ng-model="campus" >
                                                            <option value="Ghana Telecom University">Ghana Telecom University</option>
                                                            <option value="University of Ghana legon">University of Ghana Legon</option>
                                                            <option value="Accra Polytechnic">Accra Polytechnic</option>
                                                            <option value="Central University">Central University</option>
                                                            <option value="KNUST">KNUST</option>
                                                            <option value="University of Cape Coast">University of Cape Coast</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="control-group ">
                                                    <label class="control-label">Description</label>
                                                    <div class="controls">
                                                        <textarea ng-model="description" placeholder="Description"> </textarea>
                                                    </div>
                                                </div>

                                                <div class="control-group ">
                                                    <label class="control-label">Longitude</label>
                                                    <div class="controls">
                                                        <input type="text" ng-model="lon" placeholder="Longitude">
                                                    </div>
                                                </div>

                                                <div class="control-group ">
                                                    <label class="control-label">Latitude</label>
                                                    <div class="controls">
                                                        <input type="text" ng-model="lat" placeholder="Latitude">
                                                    </div>
                                                </div>

                                                <div class="control-group ">
                                                    <label class="control-label">Services</label>
                                                    <div class="controls">
                                                        <select ng-model="service" class="select2" multiple data-placeholder="Select a State" style="width: 100%;">
                                                            <option value="Laundry">Laundry</option>
                                                            <option value="Cleaning">Cleaning</option>
                                                            <option value="Retail Shop">Retail Shop</option>
                                                        </select>
                                                        Hold Ctr to select multiple services
                                                    </div>
                                                </div>

                                                <div class="control-group ">
                                                    <label class="control-label">Facilities</label>
                                                    <div class="controls">
                                                        <select ng-model="facilities" class="select2" multiple data-placeholder="Select a State" style="width: 100%;">
                                                            <option value="Generator">Generator</option>
                                                            <option value="Study Room">Study Room</option>
                                                            <option value="Car Park">Car Park</option>
                                                            <option value="TY Room">TV Room</option>
                                                        </select>
                                                        Hold Ctr to select multiple facilities
                                                    </div>
                                                </div>

                                                <div class="control-group ">
                                                    <label class="control-label">Area</label>
                                                    <div class="controls">
                                                        <input ng-model="area" type="text" placeholder="Area">
                                                    </div>
                                                </div>

                                                <div class="control-group ">
                                                    <label class="control-label">Location</label>
                                                    <div class="controls">
                                                        <input ng-model="location" type="text" placeholder="Location">
                                                    </div>
                                                </div>

                                                <div class="control-group ">
                                                    <label class="control-label">Phone Contact</label>
                                                    <div class="controls">
                                                        <input ng-model="phone" type="number" placeholder="Phone Contact">
                                                    </div>
                                                </div>

                                                <div class="control-group ">
                                                    <label class="control-label">Email Contact</label>
                                                    <div class="controls">
                                                        <input ng-model="email" type="email" placeholder="Email Contact">
                                                    </div>
                                                </div>

                                                <div class="control-group ">
                                                    <label class="control-label">One in a Room</label>
                                                    <div class="controls">
                                                        <input ng-model="oneRoom" type="text" placeholder="One in a Room Price">
                                                    </div>

                                                    <label class="control-label">Two in a Room</label>
                                                    <div class="controls">
                                                        <input ng-model="twoRoom" type="text" placeholder="Two in a Room Price">
                                                    </div>
                                                </div>

                                                <div class="control-group ">
                                                    <label class="control-label">Three in a Room</label>
                                                    <div class="controls">
                                                        <input ng-model="threeRoom" type="text" placeholder="Three in a Room Price">
                                                    </div>

                                                    <label class="control-label">Four in a Room</label>
                                                    <div class="controls">
                                                        <input ng-model="fourRoom" type="text" placeholder="Four in a Room Price">
                                                    </div>
                                                </div>

                                                <div class="control-group ">
                                                    <label class="control-label">Five in a Room</label>
                                                    <div class="controls">
                                                        <input ng-model="fiveRoom" type="text" placeholder="Five in a Room Price">
                                                    </div>
                                                </div>


                                                <div class="control-group">
                                                   <label class="control-label">Drop Multiple Files:</label>
                                                    <div class="controls">
                                                        <div ngf-drop ngf-select required ng-model="files" class="drop-box"
                                                             ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                                                             accept="image/*"
                                                             ngf-pattern="'image/*'">Drop images here or click to upload</div>
                                                        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                                        <img ngf-src="files" class="thumb">
                                                        Files:
                                                        <ul>
                                                            <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
                                                        </ul>
                                                        Upload Log:
                                                        <pre>{{log}}</pre>
                                                    </div>

                                                </div>

                                            </form>
                                        </div>
                                        <div class="module-foot">
                                            <input type="button" class="btn btn-success" ng-click="saveListing(hostelname,region,campus,area,location,phone,email,oneRoom,twoRoom,threeRoom,fourRoom,fiveRoom,service,facilities,description,lon,lat)" value="Save">
                                        </div>
                                    </div>
                                    <!-- /.box -->
                                </div><!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_2">
                                    <div class="row">
                                        <div class="span6">
                                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-default" ng-repeat="iMyListingData in iMyListing track by $index">
                                                    <div class="panel-heading" role="tab" id="{{$index}}">
                                                        <h4 class="panel-title module-head">
                                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{iMyListingData.id}}" aria-expanded="false" aria-controls="{{iMyListingData.id}}">
                                                               {{iMyListingData.hostel_name}}
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="{{iMyListingData.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{$index}}">
                                                        <div class="panel-body">
                                                           <div class="well">
                                                               <label class="control-label">Region: <b>{{iMyListingData.region}}</b> </label>
                                                               <label class="control-label">Campus: <b>{{iMyListingData.campus}} </b></label>
                                                               <label class="control-label">Description: <b>{{iMyListingData.description}} </b></label>
                                                               <label class="control-label">Area: <b>{{iMyListingData.area}} </b></label>

                                                           </div>
                                                            <input type="button" class="btn btn-success" ng-click="editDetails(iMyListingData.id)" value="Edit">
                                                            <input type="button" class="btn btn-danger" ng-click="deleteListing(iMyListingData.id)" value="Delete">
                                                            <br>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                            <div class="module">
                                                <div class="module-head">
                                                    <h3>Update Hostel</h3>
                                                </div>

                                                <div class="row">
                                                    <form class="form-horizontal row-fluid">
                                                        <div class="control-group ">
                                                            <label class="control-label">Hostel Name</label>
                                                            <div class="controls">
                                                                <input type="text" ng-model="edithostelname" placeholder="Hostel Name">
                                                            </div>
                                                        </div>
                                                        <div class="control-group ">
                                                            <label class="control-label">Region</label>
                                                            <div class="controls">
                                                                <select ng-model="editregion" >
                                                                    <option value="Greater Accra Region">Greater Accra Region</option>
                                                                    <option value="Ashanti Region">Ashanti Region</option>
                                                                    <option value="Eastern Region">Eastern Region</option>
                                                                    <option value="Central Region">Central Region</option>
                                                                    <option value="Volta Region">Volta Region</option>
                                                                    <option value="Western Region">Western Region</option>
                                                                    <option value="Brong Ahafo Region">Brong Ahafo Region</option>
                                                                    <option value="Northern Region">Northern Region</option>
                                                                    <option value="Upper East Region">Upper East Region</option>
                                                                    <option value="Upper West Region">Upper West Region</option>
                                                                </select>
                                                            </div>

                                                        </div>

                                                        <div class="control-group ">
                                                            <label class="control-label">Campus</label>
                                                            <div class="controls">
                                                                <select ng-model="editcampus" >
                                                                    <option value="Ghana Telecom University">Ghana Telecom University</option>
                                                                    <option value="University of Ghana legon">University of Ghana Legon</option>
                                                                    <option value="Accra Polytechnic">Accra Polytechnic</option>
                                                                    <option value="Central University">Central University</option>
                                                                    <option value="KNUST">KNUST</option>
                                                                    <option value="University of Cape Coast">University of Cape Coast</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="control-group ">
                                                            <label class="control-label">Description</label>
                                                            <div class="controls">
                                                                <textarea ng-model="editdescription" placeholder="Description"> </textarea>
                                                            </div>
                                                        </div>

                                                        <div class="control-group ">
                                                            <label class="control-label">Longitude</label>
                                                            <div class="controls">
                                                                <input type="text" ng-model="editlon" placeholder="Longitude">
                                                            </div>
                                                        </div>

                                                        <div class="control-group ">
                                                            <label class="control-label">Latitude</label>
                                                            <div class="controls">
                                                                <input type="text" ng-model="editlat" placeholder="Latitude">
                                                            </div>
                                                        </div>

                                                        <div class="control-group ">
                                                            <label class="control-label">Services</label>
                                                            <div class="controls">
                                                                <select ng-model="editservice" class="select2" multiple data-placeholder="Select a State" style="width: 100%;">
                                                                    <option value="Laundry">Laundry</option>
                                                                    <option value="Cleaning">Cleaning</option>
                                                                    <option value="Retail Shop">Retail Shop</option>
                                                                </select>
                                                                Hold Ctr to select multiple services
                                                            </div>
                                                        </div>

                                                        <div class="control-group ">
                                                            <label class="control-label">Facilities</label>
                                                            <div class="controls">
                                                                <select ng-model="editfacilities" class="select2" multiple data-placeholder="Select a State" style="width: 100%;">
                                                                    <option value="Generator">Generator</option>
                                                                    <option value="Study Room">Study Room</option>
                                                                    <option value="Car Park">Car Park</option>
                                                                    <option value="TY Room">TV Room</option>
                                                                </select>
                                                                Hold Ctr to select multiple facilities
                                                            </div>
                                                        </div>

                                                        <div class="control-group ">
                                                            <label class="control-label">Area</label>
                                                            <div class="controls">
                                                                <input ng-model="editarea" type="text" placeholder="Area">
                                                            </div>
                                                        </div>

                                                        <div class="control-group ">
                                                            <label class="control-label">Location</label>
                                                            <div class="controls">
                                                                <input ng-model="editlocation" type="text" placeholder="Location">
                                                            </div>
                                                        </div>

                                                        <div class="control-group ">
                                                            <label class="control-label">Phone Contact</label>
                                                            <div class="controls">
                                                                <input ng-model="editphone" type="text" placeholder="Phone Contact">
                                                            </div>
                                                        </div>

                                                        <div class="control-group ">
                                                            <label class="control-label">Email Contact</label>
                                                            <div class="controls">
                                                                <input ng-model="editemail" type="email" placeholder="Email Contact">
                                                            </div>
                                                        </div>

                                                        <div class="control-group ">
                                                            <label class="control-label">One in a Room</label>
                                                            <div class="controls">
                                                                <input ng-model="editoneRoom" type="text" placeholder="One in a Room Price">
                                                            </div>

                                                            <label class="control-label">Two in a Room</label>
                                                            <div class="controls">
                                                                <input ng-model="edittwoRoom" type="text" placeholder="Two in a Room Price">
                                                            </div>
                                                        </div>

                                                        <div class="control-group ">
                                                            <label class="control-label">Three in a Room</label>
                                                            <div class="controls">
                                                                <input ng-model="editthreeRoom" type="text" placeholder="Three in a Room Price">
                                                            </div>

                                                            <label class="control-label">Four in a Room</label>
                                                            <div class="controls">
                                                                <input ng-model="editfourRoom" type="text" placeholder="Four in a Room Price">
                                                            </div>
                                                        </div>

                                                        <div class="control-group ">
                                                            <label class="control-label">Five in a Room</label>
                                                            <div class="controls">
                                                                <input ng-model="editfiveRoom" type="text" placeholder="Five in a Room Price">
                                                            </div>
                                                        </div>


                                                        <div class="control-group">
                                                            <label class="control-label">Drop Multiple Files:</label>
                                                            <div class="controls">
                                                                <div ngf-drop ngf-select required ng-model="files" class="drop-box"
                                                                     ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                                                                     accept="image/*"
                                                                     ngf-pattern="'image/*'">Drop images here or click to upload</div>
                                                                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                                                <img ngf-src="files" class="thumb">
                                                                Files:
                                                                <ul>
                                                                    <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
                                                                </ul>
                                                            </div>

                                                        </div>

                                                    </form>
                                                </div>
                                                <div class="module-foot">
                                                    <input type="button" class="btn btn-success" ng-click="updateListing(edithostelname,editregion,editcampus,editarea,editlocation,editphone,editemail,editoneRoom,edittwoRoom,editthreeRoom,editfourRoom,editfiveRoom,editdescription,editlon,editlat)" value="Update">
                                                </div>
                                            </div>

                                </div><!-- /.tab-pane -->
                                <div class="tab-pane" id="comp">
                                    <div class="row">
                                        <div class="span4">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="span8">
                                            <div class="module">
                                                <div class="module-head">
                                                    <h3 class="box-title">All Reservations</h3>
                                                </div><!-- /.box-header -->
                                                <div class="module-body table-responsive no-padding">
                                                    <table class="table table-hover">
                                                        <tr>
                                                            <th>Hostel</th>
                                                            <th>Name</th>
                                                            <th>Phone Number</th>
                                                            <th>Room</th>
                                                            <th>Price</th>
                                                            <th>Action</th>
                                                        </tr>
                                                        <tr ng-cloak ng-repeat="mResData in mReservations track by $index">
                                                            <td>{{mResData.hostel_name}}</td>
                                                            <td>{{mResData.name}}</td>
                                                            <td>{{mResData.phone}}</td>
                                                            <td>{{mResData.room}}</td>
                                                            <td>{{mResData.price}}</td>
                                                            <td>
                                                                <a  class="btn btn-danger" ng-click="deleteUser(mResData.username,mResData.hostel_id)">Delete</a>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </div><!-- /.box-body -->
                                            </div><!-- /.box -->
                                        </div>
                                    </div>
                                </div>

                            </div><!-- /.tab-content -->
                        </div><!-- nav-tabs-custom -->
                    </div><!-- /.col -->
                </div>
    </div>
</div>

